# Shared
KAFKA_BROKER=localhost:9092
REDIS_URL=redis://localhost:6379

# DB per service (used by scripts/packages)
DATABASE_URL_AUTH=postgresql://user:password@host/auth_db?sslmode=require
DATABASE_URL_COURSE=postgresql://user:password@host/course_db?sslmode=require
DATABASE_URL_PAYMENT=postgresql://user:password@host/payment_db?sslmode=require
DATABASE_URL_MEDIA=postgresql://user:password@host/media_db?sslmode=require
DATABASE_URL_NOTIFICATION=postgresql://user:password@host/notification_db?sslmode=require

# App
NODE_ENV=development
LOG_LEVEL=debug
