NODE_ENV=development
PORT=3006
DATABASE_URL_INSTRUCTOR=postgresql://user:password@host/database?sslmode=require&channel_binding=require
AUTH_SERVICE_URL=http://localhost:3101
MEDIA_SERVICE_URL=http://localhost:3004
