# Server
PORT=3002
NODE_ENV=development
LOG_LEVEL=info

# Neon PostgreSQL (course_db)
# Pooler URL - dung cho runtime queries
DATABASE_URL="postgresql://user:pass@ep-xxx-pooler.neon.tech/course_db?sslmode=require"
# Direct URL - dung cho prisma migrate/db push
DIRECT_URL="postgresql://user:pass@ep-xxx.neon.tech/course_db?sslmode=require"

# Kafka (for Phase 11 - enrollment events)
KAFKA_BROKER="localhost:9092"

# CORS
CORS_ORIGIN="http://localhost:3000"
